# Data files
*.fastq.gz
*.bam
*.sam
*.h5ad

# Python virtual environment
venv/
__pycache__/

# Secrets
.env
credentials.json

# PostgreSQL data
PostgreSQL_setup/pgdata/
PostgreSQL_setup/note.txt
PostgreSQL_setup/start-postgresql.sh

# MinIO data
MINIO_setup/docker-compose.yml
MINIO_setup/start-minio.sh
MINIO_setup/
.gitignore
